body {
    background-color: #222;
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11pt;
    user-select: none;
}

footer a {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

footer a:link,
footer a:visited,
footer a:active,
footer a:focus {
    color: #fff;
}

footer a:hover {
    color: #f00;
}

footer a:link {
    text-decoration: none;
}

/* Scrollbar */

::-webkit-scrollbar {
    /* Scrollbars */
    width: 14px;
    height: 14px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    /* Barre */
    border: solid 0 transparent;
    border-right-width: 4px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 9px 5px;
    -webkit-border-bottom-right-radius: 9px 5px;
    -webkit-box-shadow: inset 0 0 0 1px #aaa, inset 0 0 0 6px #eee;
}

::-webkit-scrollbar-corner {
    /* Coin de la fenêtre */
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    /* Barre quand survolée */
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    -webkit-box-shadow: inset 0 0 0 1px #555,
        inset 0 0 0 6px #666;
}

::-webkit-scrollbar-thumb:horizontal {
    /* Barre du bas */
    border-right-width: 0;
    border-bottom-width: 4px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px 9px;
    -webkit-border-bottom-left-radius: 5px 9px;
}

main .pagetitle h1 {
    font-family: Library3am;
    font-size: 6em;
    text-align: center;
    margin: 0;
    border-radius: 18px;
}

main .pagetitle h2 {
    font-family: Colombia;
    font-size: 3em;
    text-align: center;
    margin: 0;
    border-top: 7px dotted red;
}

main .pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(-135deg, red 5%, transparent -150%);
}

main .faq-content {
    transition: all 0.5s ease-out 0s;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px;
}

main .faq-content img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 15px;
}

main .faq-content h2,
main .faq-content p,
main .faq-content img {
    text-align: center;
    margin: 0;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

main .faq-content h2 {
    font-size: 3em;
    font-family: Colombia;
}

main .faq-content p {
    font-size: 1.25em;
}

main .content1:hover,
main .content2:hover {
    transition: all 0.9s ease-out 0s;
    background-color: #ccc;
    color: black;
    text-shadow: 0.3rem 0.3rem 0.5rem black;
}

.delimitation {
    margin-bottom: 40px;
    border-bottom: 5px dotted red;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

main .myprojects {
    display: flexbox;
    padding-top: 15vh;
    padding-bottom: 15vh;
    background: linear-gradient(45deg, red 5%, transparent -150%);
}

main .amyprojects {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    color: white;
    font-family: Library3am;
    font-size: 30pt;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(45deg, red, blue);
    max-width: fit-content;
    padding: 8px;
    transition: all 0.5s ease-out 0s;
}

/* main .amyprojects:hover {
    background: linear-gradient(white, yellow, red, yellow, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    transition: all 0.5s ease-out 0s;
} */

main .amyprojects:hover {
    translate: 0px -10px;
}